/* FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
1em = 16px 
*/

/* below 1344 pixels - smaller desktop */
@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }
  .header {
    padding: 0 3.2rem;
  }
  .main-nav-list {
    gap: 3.2rem;
  }
  .hero {
    gap: 4.8rem;
  }

  .features-gallery-container {
    padding: 9.6rem 3.2rem;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .hero-img {
    width: 60%;
  }

  .no-of-products {
    justify-content: center;
    margin-top: 3.2rem;
  }
  .logos img {
    height: 2.4rem;
  }
  .step-number {
    font-size: 7.4rem;
  }

  .product-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }

  .section-features-gallery {
    grid-template-columns: 1fr;
  }
  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }

  /* cta */
  .section-cta {
    padding: 6.4rem;
  }
  .cta {
    /* 3/5 = 60% + 2/5 = 40% */
    grid-template-columns: 4fr 2fr;
  }
  .cta-form {
    grid-template-columns: 1fr;
  }
  .btn--form {
    margin-top: 1.2rem;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 999;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 1.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  .grid--3cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .heading-secondary {
    margin-bottom: 4.8rem;
  }

  .products-info {
    grid-column: 1 / -1;
    justify-self: center;
    align-self: center;
  }

  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  }
  .logo-col,
  .address-col {
    grid-column: span 3;
  }

  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .grid {
    row-gap: 4.8rem;
    column-gap: 2.8rem;
  }

  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }
  .btn,
  .btn:link,
  .btn:visited {
    padding: 1.2rem 1.2rem;
  }

  .section-hero {
    padding: 2.4rem 0 6.4rem 0;
  }

  .hero {
    padding: 0 3.2rem;
  }

  .hero-img {
    width: 80%;
  }

  .no-of-products-text {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .logos img {
    height: 2.4rem;
  }

  /* about us */
  .grid--2-1-cols {
    grid-template-columns: 1fr;
  }
  .about-img-box {
    margin-top: 2rem;
  }
  .about-text-box {
    grid-row: 2;
    margin-top: 3rem;
  }

  /* projects */
  .step-number {
    font-size: 4.8rem;
  }
  .step-img-box:nth-child(2) {
    grid-row: 1;
  }

  .step-img-box:nth-child(8) {
    grid-row: 7;
  }
  .interview-img-box {
    grid-row: 5;
  }
  .step-img-box {
    transform: translateY(2.4rem);
  }
  .section-products {
    padding: 9.4rem 0;
  }

  .product-content {
    padding: 3rem 2.4rem 3rem 1.4rem;
  }
  .product-title {
    font-size: 2rem;
    color: #333;
    font-weight: 600;
    margin-bottom: 1.8rem;
  }

  /* join now or products */

  .grid--3-1-cols {
    grid-template-columns: 2fr 1fr;
  }
  .register-now {
    padding-top: 1.6rem;
  }
  .products-info {
    grid-column: 1 / -1;
    justify-self: center;
  }
  .product {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .features-gallery-container {
    padding: 4.8rem 3.2rem;
  }
  .features {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 3.2rem;
    column-gap: 2rem;
  }
  .gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
  }

  /* cta */
  .section-cta {
    padding: 4.8rem 1.4rem;
  }

  .cta {
    grid-template-columns: 1fr;
  }

  .cta-text-box {
    padding: 3.2rem;
  }

  .cta-img-box {
    height: 32rem;
    grid-row: 1;
  }
  .list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .list-item {
    font-size: 1.8rem;
    display: flex;
    /* line-height: 1.2; */
    align-items: center;
  }
  .heading-tertiary {
    margin-bottom: 1.8rem;
  }

  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  }

  .logo-col,
  .address-col {
    grid-column: span 3;
  }

  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }
}
